<!DOCTYPE html>

<html>
	<head>
    <title> CINDY'S START </title>
 <link rel="stylesheet" href="/static/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
	<style>
		*{
    font-family: font;
	overflow: hidden;
}
body{
	background-image: url("/static/hehe.jpg");
       background-size: auto;
}
         .button{
         border: none;
         background: none;
font-size: 200%;
         }
	</style>
	</head>

	<body style="text-align: center; font-size: 400%;">
leaving is not allowed. return right now.
<br>
<audio id="click" src="/static/click.mp3"> </audio>
<audio loop id="yes" src="/static/bgm.mp3" autoplay> </audio>
<button class="button" onclick="cli()"> click to return </button>
		<script>
			const socket = new WebSocket('wss://cindyandher3goons.me/ws/start');

			socket.onopen = () => {
				console.log("connected to WS server");
			}

      socket.onmessage = (event) => {
        let data = event.data;
	
        console.log(data);
      }

const a = document.getElementById("click");
const b = document.getElementById("yes");

window.onload = function(){
	b.currentTime = localStorage.getItem("sTime");
	b.volume = localStorage.getItem("sVol");
}

function cli(){
    a.play();
localStorage.setItem("sTime", b.currentTime);
localStorage.setItem("sVol", b.volume);
setTimeout(function(){window.location.href="/";},200)
}

		</script>
	</body>

</html>
