<!DOCTYPE html>

<html>
	<head>
    <title> CINDY'S GAME </title>

		<style>
			html, body {
				margin: 0;
				padding: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
		</style>

	</head>

	<body>
<audio loop id="yes" src="/static/bgm.mp3" autoplay> </audio>
		<script>
		  window.USERNAME = "{{ username }}";
const b = document.getElementById("yes");

const isReload = performance.getEntriesByType('navigation')[0]?.type === 'reload';
const isBack = performance.getEntriesByType('navigation')[0]?.type === 'back_forward';

if(isReload || isBack){
        b.currentTime = localStorage.getItem("sTime");
	    b.volume = localStorage.getItem("sVol");
}

window.onpagehide = function(){
    localStorage.setItem("sTime", b.currentTime);
    localStorage.setItem("sVol", b.volume);
};

window.onload = function(){
	b.currentTime = localStorage.getItem("sTime");
	b.volume = localStorage.getItem("sVol");
}
		</script>

    <iframe
		  id="godot-frame"
      src="/static/godot/index.html"
      style="width: 100vw; height: 100vh; border: none;">
    </iframe>

	</body>

</html>
