<!DOCTYPE html>

<html>
	<head>
		<title> CINDY'S LOGIN </title>
	</head>

	<body>
		i am login
		<br> <a href="{{url_for('register')}}">register</a> <br>
		<form action="{{url_for('login')}}" method="POST">
			<label>Username</label>
			<br> <input type="text" name="username" required>
			<br> <label>Password</label>
			<br> <input type="password" name="password" required>
			<br> <button type="submit">Login</button>
		</form>
		{{text}}
		<script>
			const socket = new WebSocket('wss://cindyandher3goons.me/ws/login');

			socket.onopen = () => {
				console.log("connected to WS server");
			}

			socket.onmessage = (event) => {
				let data = event.data;

				console.log(data);
			}
		</script>
	</body>

</html>
